<% title @consumer.name %>
<% sidebar do %>
	<%= profile_picture(@consumer) %>
	<p>
		<%= icon "email" %> <%= mail_to @consumer.email %><br />
		<%= user_icon @consumer %> <%= friendly_profile_name @consumer %>
	</p>
<% end %>

<%= render "actions", profile: @consumer %>

<h3>Rede de negócios</h3>
<% if @consumer.network.any? %>
	<%= render :partial => "users/list", :locals => {users: @consumer.network, id: "salespeople"} %>
<% else %>
	<p><%= @consumer.name %> não possui ninguém em sua rede pública.</p>
<% end %>
