<% title @salesperson.name %>
<% sidebar do %>
	<%= profile_picture(@salesperson) %>
	<p>
		<%= icon "email" %> <%= mail_to @salesperson.email %><br />
		<%= user_icon @salesperson %> <%= friendly_profile_name @salesperson %>
		<%= render "ranking", salesperson: @salesperson %><br />
	</p>
	<ul>
		<% for company in @salesperson.companies %>
			<li><%= icon "shield" %> <%= link_to company.name, company_path(company) %></li>
		<% end %>
	</ul>
<% end %>

<%= render :partial => "consumers/actions", :locals => {profile: @salesperson} %>


<% if @salesperson.custumers.any? %>
	<h3>Clientes</h3>
	<%= render :partial => "users/list", :locals => {users: @salesperson.custumers, id: "consumers"} %>
<% end %>

<% if @salesperson.posts.any? %>
	<h3>Posts</h3>
	<% if current_user?(@salesperson) %>
		<%= render :partial => "posts/form" %>
	<% end %>
	<%= render :partial => "posts/list", :locals => {posts: @salesperson.posts} %>
<% elsif current_user?(@salesperson) %>
	<h3>Posts</h3>
	<p>Você não tem posts. Crie um abaixo:</p>
	<%= render :partial => "posts/form" %>
	<p class="clear"></p>
<% end %>
