<h2>Pesquisa</h2>
<%= form_tag search_path do %>
	<%= text_field :search, :query, :class => "large", :value => search_buffer.query %>
	<%= select :search, :location, options_for_select(Search.locations, search_buffer.location)  %>
	
	<%= submit_tag icon("magnifier") %>
<% end %>

<h2>Marcas</h2>
<ul>
<% for brand in Company.all %>
	<li><%= brand.name %></li>
<% end %>
</ul>
