<h2>Pesquisa</h2>
<%= form_tag search_path do %>
	<%= text_field :search, :query, :class => "large", :value => search_buffer.query %>
	<%= select :search, :scope, options_for_select(search_scopes, search_buffer.scope)  %>
	
	<%= submit_tag icon("magnifier") %>
<% end %>

<h2>Marcas</h2>
<ul class="resource-list">
<% for company in Company.all %>
	<li><%= icon "shield" %> <%= link_to company.name, company_path(company) %></li>
<% end %>
</ul>
